<div class="container ">
    <div class="row m-3">
        <div class="col-4">
          <h1 class="m-2">About me</h1>
        </div>
        <div class="col-8">
            <p>I'm a front-end designer and developer trainee at ITI, i know HTML,CSS and bootstrap to make responsive web
                site's pages with angular and react technologies and also i'm a data analyst </p>
                <a  class="btn btn-success m-2" href="./assets/mycv.png"download>download</a>
          </div>
    </div>
</div>
    
