<div class="card h-100">
    <img [src]="productItem.image" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ productItem.title }}</h5>
      <p class="card-text">{{ productItem.category }}</p>
      <p class="card-text">{{ productItem.price|  currency:'EGP'}} </p>
      <button class="btn-btn-primary"(click)="selectproduct()">Select product</button>
    </div>
    <div class="card-footer">
        <small class="text-muted">{{ productItem.rating.count_in_stock| checkcount}}</small>
      </div>
  </div>
